//BU YERDA SAYTIMIZNING HEADER QISMIGA ISHLOV BERILADI

.abuheader {
    padding: 16px 0;

    &__logo-link {
        margin: 0;
        padding: 0;
        text-decoration: none;
    }

    &__wrapper {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
}